<!DOCTYPE html>
<html>
    <head>
        {%include 'lab4_navbar.html'%}
        <body>
            <h1>Add Note</h1>
            <div class="container">
                <form action="" method=POST >
                    {%csrf_token%}
                    {{ form.as_p }}
                    <input type="submit" value="Add Note">
            </div>
            </form>
        </body>
    </head>
</html>