<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
      {%include 'lab4_navbar.html'%}
      <div class="container">
      <div class="row">

      {% if Note %} 
        {% for x in Note %}
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="padding: 1rem;">
              <h2 class="card-title">{{ x.Title }}</h2>
              <h3 class="card-subtitle">From: {{ x.From }}</h3>
              <h3 class="card-subtitle">To: {{ x.To }}</h3>
              <p class="card-text">{{ x.Message }}</p>
            </div>
        </div>
        {% endfor %}
      {% endif %}
      </div>
      </div>
  </body>
</html>
