<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    {%include 'lab4_navbar.html'%}
    <div class="container">
    <table class="table table-hover table-bordered" style="border: 1px; margin-top: 3rem;">
    <thead class="thead-dark">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if Note %} 
        {% for x in Note %}
      <tr>
        <td>{{ x.To }}</td>
        <td>{{ x.From }}</td>
        <td>{{ x.Title }}</td>   
        <td>{{ x.Message }}</td>
      </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
      </div>
    </table>
  </body>
</html>
