<!DOCTYPE html>
<html>
    <h1>Add Friend</h1>
        <body>
            <form action="" method=POST>
                {{form}}
                {%csrf_token%}
                <input type="submit" value="Add Friend">
            </form>
        </body>
</html>