<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% if friends %} 
        {% for x in friends %}
      <tr>
        <td>{{ x.Name }}</td>
        <td>{{ x.NPM }}</td>
        <td>{{ x.DOB }}</td>   
        <!-- TODO loop from Friend model -->
        <!-- EXAMPLE SECTION -->
      </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
