<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if Note %} 
        {% for x in Note %}
      <tr>
        <td>{{ x.To }}</td>
        <td>{{ x.From }}</td>
        <td>{{ x.Title }}</td>   
        <td>{{ x.Message }}</td>
      </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
